@model VMMenu

@if (Model.Items.Length != 0)
{
    <ul class="@(ViewBag.MenuCssClass)">
        @foreach (var item in Model.Items)
        {
            <li>
                <a href="@Url.Action(item.Action, new { controller=item.Controller})" title="@(!string.IsNullOrEmpty(item.Title)? item.Title:item.Caption)">@item.Caption</a>
            </li>
        }
    </ul>
}