@model VMMenu

@if (Model.Items.Length != 0)
{
    <ul class="@(ViewBag.MenuCssClass)">
        @foreach (var item in Model.Items)
        {
            <li>
                @Html.RouteLink(item.Caption, new { controller = item.Controller, action=item.Action})
            </li>
        }
    </ul>
}