@model VMMenu

@if (Model.Items.Length != 0)
{
    <ul class="nav navbar-nav @(ViewBag.MenuCssClass)">
        @foreach (var item in Model.Items)
        {
            <li>
                <a href="@item.Url">@item.Caption</a>
            </li>
        }
    </ul>
}