@using SX.WebCore;
@{
    ViewBag.Title = ViewBag.Title ?? "Новости, статьи игровой индустрии";
    var gameName = Request.RequestContext.RouteData.Values["gameTitle"];
    if (gameName != null)
    {
        ViewBag.Title += " " + gameName;
    }
    ViewBag.H1 = ViewBag.H1 ?? ViewBag.Title;
    ViewBag.H1CssClass = "hidden";
    if (ViewBag.Description == null && gameName != null)
    {
        ViewBag.Description = "На данной странице вы сможете ознакомиться споследними новостями и статьями, которые были написаны авторами нашего сайта об игре " + gameName;
    }
    ViewBag.Keywords = ViewBag.Keywords ?? gameName;

    var banners = (SxVMBanner[])ViewBag.PageBanners;
    SxVMBanner banner;
}

@*@Html.Action("LastMaterialsBlock", "Articles", new {
        bh="Последние статьи"
    })*@

@*@Html.Action("LastGamesNewsBlock", "News", new { lnc= 5 })*@

@*@Html.Action("NewsCategories", new { controller = "News", lnc = 5 })*@

@*<div class="text-center all-news-btn">
        <a href="@Url.Action("List", "News")" class="btn btn-default btn-transparent white">Все новости</a>
    </div>*@

@{
    @*banner = banners != null ? banners.SingleOrDefault(x => x.Place == SxBanner.BannerPlace.Intermediate) : null;
        if (banner != null)
        {
            if (!(Equals(banner.Type, SxBanner.BannerType.Google) && Request.IsLocal) || Equals(banner.Type, SxBanner.BannerType.Html))
            {
                <div style="margin-top:30px;">
                    @Html.SxBanner(banner, (b) => Url.Action("Picture", "Pictures", new { id = b.PictureId }), b => { return Url.Action("Click", "Banners", new { bannerId = b.Id }); })
                </div>
            }
        }*@
}

<section>
    @Html.Action("RandomList", "SiteTests")
</section>

@Html.Action("ForGamersBlock", "Articles")

@section scripts{
    <script type="text/javascript" src="~/Content/dist/js/ge-last-news-block.min.js"></script>
    <script type="text/javascript" src="~/Content/dist/js/ge-for-gamers-block.min.js"></script>
    <script type="text/javascript" src="~/Content/dist/js/ge-last-category-block.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.l-n-b').geLastNewsBlock();
            $('.l-c-n-b').geLastCategoryBlock();
            $('.f-g-b').geFGB(400);

            $('#stRulesModal').on('show.bs.modal', function (event) {
                var modal = $(this);
                $button = $(event.relatedTarget);
                var testTitle = $button.data('test-title');
                var testRules = $button.data('test-rules');
                var testUrl = $button.data('test-url');
                modal.find('.modal-title').html(testTitle);
                modal.find('.modal-body').html(testRules);
                modal.find('.url-btn').attr('href', testUrl);
            })
        });
    </script>
}