@{ 
    ViewBag.Title = ViewBag.Title ?? "Новости, статьи игровой индустрии";
    if (ViewBag.GameTitle != null)
    {
        ViewBag.Title += " " + ViewBag.GameTitle;
    }
    ViewBag.H1 = ViewBag.H1 ?? ViewBag.Title;
    ViewBag.H1CssClass = "hidden";
}

@Html.Action(MVC.News.LastGamesNewsBlock(lnc: 5))

@Html.Action(MVC.News.NewsCategories(lnc: 5))

<div class="text-center all-news-btn">
    <a href="@Url.Action(MVC.News.List())" class="btn btn-default btn-transparent dark-blue">Все новости</a>
</div>

@Html.Action(MVC.Articles.ForGamersBlock())

@section scripts{
    <script type="text/javascript" src="~/Content/dist/js/ge-last-news-block.min.js"></script>
    <script type="text/javascript" src="~/Content/dist/js/ge-for-gamers-block.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.l-n-b').geLastNewsBlock();
            $('.f-g-b').geFGB(400);
        });
    </script>
}