@model SX.WebCore.SxVmMaterialTag[]
@{
    Layout = null;
    var maxFs = (int)ViewBag.CloudMaxFs;
    var url = (string)ViewBag.Url;
}

@if (Model.Any())
{
    <div class="tags-block">
        <h3>Облако тегов</h3>
        @Html.SxTagsCloud(Model, url, maxFs)
    </div>
}