@model SxVMMaterialTag[]
@{
    Layout = null;
    var maxFs =(int)ViewData["TagsMaxFs"];
    var url = (string)ViewData["TagsUrl"];
    var showHeader = Convert.ToBoolean(ViewData["TagsShowHeader"]);
}

@if (Model.Any())
{
    <div class="tags-block">

        @if (showHeader)
        {
            <h3 class="header">Облако тегов</h3>
        }
        @Html.SxTagsCloud(Model, url, maxFs)
    </div>
}