@{
    Layout = null;
}
<footer>
    <div class="top">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    @Html.Action(MVC.Menues.Menu(2, cssClass: "menu"))
                </div>
                <div class="col-md-6">
                    <ul class="icons">
                        <li>
                            <a href="#"><span class="fa fa-facebook"></span></a>
                        </li>
                        <li>
                            <a href="#"><span class="fa fa-twitter"></span></a>
                        </li>
                        <li>
                            <a href="#"><span class="fa fa-instagram"></span></a>
                        </li>
                        <li>
                            <a href="#"><span class="fa fa-youtube-play"></span></a>
                        </li>
                        <li>
                            <a href="#"><span class="fa fa-vk"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="middle">
        <div class="container">
            sdf
        </div>
    </div>
    <div class="bottom">
        <div class="container">
            sdf
        </div>
    </div>
</footer>