@{
    Layout = null;
}
<footer>
    <div class="top">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    @Html.Action(MVC.Menues.Menu(2, cssClass: "menu"))
                </div>
                <div class="col-md-6">
                    <ul class="icons">
                        <li>
                            <a href="#"><span class="fa fa-facebook"></span></a>
                        </li>
                        <li>
                            <a href="#"><span class="fa fa-twitter"></span></a>
                        </li>
                        <li>
                            <a href="#"><span class="fa fa-instagram"></span></a>
                        </li>
                        <li>
                            <a href="#"><span class="fa fa-youtube-play"></span></a>
                        </li>
                        <li>
                            <a href="#"><span class="fa fa-vk"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="middle">
        <div class="container">
            sdf
        </div>
    </div>
    <div class="bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="first">
                        <img alt="game-exe.com" src="@(GE.WebUI.SiteSettings.Get(SX.WebCore.Resources.Settings.siteLogoPath)+"?height=30")" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="second">
                        Любое использование или копирование материалов сайта - только с разрешения правообладателя и только с указанием ссылки на сайт
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="last">
                        © Все права защищены, @(DateTime.Now.Year) год<br />
                        Разработка и поддержка: <a href="mailto:simlex.dev.2014@gmail.com">simlex</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>