@model GE.WebUI.Models.Abstract.VMDetailMaterial
@{ 
    Layout = null;
}
<blockquote class="mat-fwd">
    <p>@Model.Foreword</p>
    <p>Автор материала: <strong>@Model.UserNikName</strong> </p>
</blockquote>
