@model GE.WebUI.Models.Abstract.VMDetailMaterial
@{ 
    Layout = null;
}


<blockquote class="mat-fwd">
    <h2 class="ann">Аннотация</h2>
    <p>@Model.Foreword</p>
    <p>Автор материала: <strong>@Model.UserNikName</strong> </p>
</blockquote>
