@model VMAphorismCategory[]
@{
        Layout = null;
        var cat = (VMMaterialCategory)ViewContext.ParentActionViewContext.ViewBag.CurrentAphorismCategory;
        VMAphorismCategory category;
        VMAphorismCategory author;
    }

@if (Model != null && Model.Any())
{
    <div class="aph-cats">
        <div class="panel-group">
            @for (int i = 0; i < Model.Length; i++)
            {
                category = Model[i];
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#cat-@category.Id" data-parent=".panel-group" class="panel-group__title">@category.Title</a>
                        </h4>
                    </div>
                    <div id="cat-@category.Id" class="panel-collapse collapse">
                        @if (category.Authors.Any())
                        {
                            <div class="panel-body">
                                @for (int y = 0; y < category.Authors.Length; y++)
                                {
                                    author = category.Authors[y];
                                    <a href="@Url.Action("List", "Aphorisms", new { author = author.Id })" id="author-@author.Id">@author.Title</a>
                                }
                            </div>
                        }
                        <div class="panel-footer">
                            <h5>
                                <a href="@Url.Action("List", "Aphorisms", new { categoryId = category.Id })">Все по категории</a>
                            </h5>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}