@model VMAphorismCategory[]
@{
    Layout = null;
    var cat = ViewBag.CurrentAphorismCategory ?? ViewContext.ParentActionViewContext.ViewBag.CurrentAphorismCategory;
    var curCat = (VMMaterialCategory)cat;
    VMAphorismCategory item;
}

@if (Model.Any())
{
    <div class="list-group ap-cat">
        @for (int i = 0; i < Model.Length; i++)
        {
            item = Model[i];
            <a class="list-group-item @(curCat != null && item.Id == curCat.Id ? "active" : null)" href="@Url.Action("List", new { controller="Aphorisms", categoryId= item.Id} )">
            @item.Title
            </a>
        }
    </div>
}