@model VMAphorism[]
@{
    Layout = null;
    var author = (string)ViewData["Author"];
    var category = (string)ViewData["Category"];
    string header = null;
    if (category != null)
    {
        header = string.Format("Другие высказывания в категории {0}", category);
    }
    else if (category == null && author != null)
    {
        header = string.Format("{0}. Другие высказывания", author);
    }
}
<div class="ap-list">
    @if (header != null)
    {
        <h2 class="header">@header</h2>
    }

    <ul>
        @for (int i = 0; i < Model.Length; i++)
            {
                var a = Model[i];
            <li>
                <div class="content">
                    <div>
                        @Html.Raw(a.Html)
                    </div>
                    <div class="author">@(a.Author != null && a.Author.Name != null ? a.Author.Name : "Аноним")</div>
                    <div>
                        <a href="@Url.Action(MVC.Aphorisms.Details(categoryId: a.CategoryId, titleUrl: a.TitleUrl))"><i>Комментировать</i></a>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>