@import (reference) "colors.less";
@import (reference) "sizes.less";
@import (reference) "positioned.less";
@import (reference) "../../bower_components/bootstrap/less/variables.less";

.aphorisms {
    background-color: @color-white;
    margin-top: @def-pad*2;
    min-height: 120px;
}

.aphorism {
    position: relative;
    padding: @def-pad;
}

.aphorism > .aph-progress {
    height: 4px;
    padding: 1px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.aphorism > .aph-progress > div {
    height: 2px;
    background-color: @color-red;
}

//ap-author-list
.ap-page {
    margin-top: @def-pad*2;
    margin-bottom: @def-pad*2;
}

.ap-page blockquote {
    min-height: 100px;
}

.ap-page .author-img {
    max-height: 70px;
    border: 3px solid @colr-muted-blue;
    margin-right: @def-pad*2;
    margin-bottom: @def-pad*2;
    float: left;
}

.ap-list {
    margin-top: @def-pad*4;
}

.ap-list-page .ap-list {
    margin-top: 0;
}

.ap-list ul {
    list-style: none;
    color: @color-white;
    padding: 0;
    margin: 0;
}

.ap-list ul > li {
    margin-top: @def-pad*2;
}

.ap-list h3 {
    font-size: 16px;
}

.ap-list ul > li a {
    color: @color-white;
}

.ap-list ul > li .author {
    color: @colr-muted-blue;
}

.ap-cat {
    @media (max-width: @screen-xs-max) {
        margin-top: @def-pad*2;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    }

    @media (min-width: @screen-lg-min) {
    }
}

.ap-cat > .list-group-item {
    background-color: unset;
    color: @color-white;
}

.ap-cat > .list-group-item:hover {
    background-color: unset;
    color: @colr-muted-blue;
}

.ap-cat > .list-group-item.active {
    border-color: @colr-muted-blue;
    background-color: rgba(255,255,255, 0.1);
}