@import (reference) "colors.less";
@import (reference) "sizes.less";
@import (reference) "positioned.less";
@import (reference) "../../bower_components/bootstrap/less/variables.less";

.comments, #comments-list {
    margin-top: @def-pad*2;
}

.comments {
    background-color: @color-white;
    padding: @def-pad;
}
