@import (reference) "colors.less";
@import (reference) "sizes.less";
@import (reference) "positioned.less";
@import (reference) "../../bower_components/bootstrap/less/variables.less";

.new-comment {
    color: @color-white;
}

.new-comment .text-right{
    @media (max-width: @screen-xs-max) {
        text-align:left;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        
    }

    @media (min-width: @screen-lg-min) {
        
    }
}

.new-comment button{
    @media (max-width: @screen-xs-max) {
        margin-top:@def-pad;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        
    }

    @media (min-width: @screen-lg-min) {
        
    }
}

//comment
.comment{
    margin-bottom:@def-pad*2;
}

.comment > .content {
    display: table;
    width: 100%;
    margin-left: 0;
}

.comment > .content > div{
    display:table-cell;
    float:none;
    height:100%;
    vertical-align: top;
    padding:0;
}

.comment .author, .comment .text
{
    display: table;
    width: 100%;
    height:100%;
    padding:10px;
}

.comment .author{
    text-align:center;
    background-color:@color-light-blue;
}

.comment .author > .nik{
    color:@color-black;
    font-size:16px;
    font-weight:bold;
}

.comment .text {
    background-color: @color-white;
    color: @color-comment-txt;
}

.comment .text > .date{
    font-size:.9em;
    margin-bottom:@def-pad;
}

.comment .author img{
    width:50px;
    height:50px;
    border:3px solid @color-img-border;
}

.comment > .func{
    background-color:@color-light-blue;
    min-height:10px;
}

.comment > .func a{
    font-style:italic;
    color:@color-dark-blue;
    font-size:.9em;
}

//comments
.comments{
    color: @color-white;
    margin-top:@def-pad*2;
}
