@import (reference) "colors.less";
@import (reference) "sizes.less";
@import (reference) "positioned.less";
@import (reference) "../../bower_components/bootstrap/less/variables.less";

@avatar-size:100px;

.comment{
    margin-top:@def-pad;
}

.comment .c-u-info{
    text-align:center;
}

.comment .c-u-info .c-u-avatar{
    width:@avatar-size;
    height:@avatar-size;
    border:4px solid #b6bac8;
}
