@import (reference) "colors.less";

@g-m-h: 60px;

.game-menu {
    background-color: @color-game-menu;
}

.game-menu ul {
    list-style: none;
    padding: 0;
    height: @g-m-h;
    width: 100%;
    line-height: @g-m-h;
    text-align: center;
    margin: 0;
}

.game-menu ul > li {
    float: left;
}
