@font-face {
    font-family: 'Open Sans Condensed';
    src: url('/fonts/OpenSans-CondLight-webfont.eot');
    src: url('/fonts/OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/OpenSans-CondLight-webfont.woff') format('woff'),
         url('O/fonts/OpenSans-CondLight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family:'Open Sans Condensed';
}
