@import (reference) "colors.less";
@import (reference) "sizes.less";
@import (reference) "../../bower_components/bootstrap/less/variables.less";

.th-top-block > .row > div{
    padding:0;
}

.th-banner{
    text-align:center;
}

.th-bottom-block .th-banner{
    position:absolute;
    width:100%;
}

.th-banner img{
    max-width:100%;
}
