@import (reference) "colors.less";
@import (reference) "sizes.less";
@import (reference) "../../bower_components/bootstrap/less/variables.less";

.video {
    position: relative;
}

.video > .wrapper {
    padding: 0;
}

.video img {
    max-width: 100%;
}

.video figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: @color-game-menu;
    font-style: italic;
    font-size: 11px;
    color: @color-white;
    text-transform:uppercase;
    font-weight:700;
}

.video figcaption > .source, .video figcaption > .count{
    text-transform:none;
    font-weight:normal;
}
.video figcaption > .source > a{
    color:@color-white;
    text-decoration:underline;
}

.video .button-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

.video .button-wrapper > .button-container {
    display: table;
    width: 100%;
    height: 100%;
}

.video .button-wrapper > .button-container > .button-cell {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.video .button-wrapper > .button-container > .button-cell > a {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    display: block;
}

.video .button-wrapper > .button-container > .button-cell > a > i {
    font-size: 3em;
    color: rgba(214,33,33,.8);
    transition:all 0.2s;
}

.video .button-wrapper > .button-container > .button-cell > a > i:hover {
    color: rgba(214,33,33,1);
}
