
@{
    ViewBag.Title = "Чат";
}

<h2>@ViewBag.Title</h2>

<div class="alert alert-warning">
    <strong>Внимание!</strong> Сообщения не хранятся на сервере и доступны в течении только данной сессии.
</div>