
@{
    ViewBag.Title = "Чат";
}

@section styles{
    <link href="~/content/dist/css/chat.min.css" rel="stylesheet" />
}

<h2>@ViewBag.Title</h2>

<div class="alert alert-warning">
    <strong>Внимание!</strong> Сообщения не хранятся на сервере и доступны в течении только данной сессии.
</div>

<div class="chat" ng-app="app">
    <div class="row">
        <div class="col-md-3">
            <h3>Сейчас на сайте</h3>
            <div id="online-users">
                
            </div>
        </div>
        <div class="col-md-9">
            <h3>Диалоги</h3>
        </div>
    </div>
</div>



@section scripts{
    <script src="~/content/dist/js/jquery.signalR.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        //signalr
        var chat = $.connection.sxChatHub;
        chat.client.addUserToChatList = function (user) {
            addUserToList(JSON.parse(user));
        };
        chat.client.removeUserFromChatList = function (email) {
            delUserFromList(email);
        };
        $.connection.hub.start();

        $(function () {
            $('#online-users').load('@Url.Action("OnlineUsers", "Chat")');
        });

        function addUserToList(user)
        {
            $item = $('#online-users .chat__user[data-email="' + user.Email + '"]');
            if ($item.length != 0) return;

            $listGroup = $('#online-users > .list-group');
            $listGroupItem = $('<div class="list-group-item"><div class="chat__user" data-email="' + user.Email + '"></div></div>').hide();
            $item = $listGroupItem.find('.chat__user[data-email="' + user.Email + '"]');
            if (user.AvatarId != null)
                $item.append('<figure class="img-circle" style="background-image:url(/pictures/picture/' + user.AvatarId + ')"></figure>');
            $item.append(user.Email + '<br />');
            $item.append('<strong>' + user.NikName + '</strong>');
            $listGroup.append($listGroupItem);
            $listGroupItem.fadeIn();
        }

        function delUserFromList(email)
        {
            $item = $('#online-users .chat__user[data-email="' + email + '"]');
            if ($item.length == 0) return;

            $item.closest('.list-group-item').fadeOut(function () {
                $(this).remove();
            });
        }
    </script>
}