@{
    ViewBag.Title = "Подтверждение регистрации";
}

@section head{
    <meta name="robots" content="noindex" />
}

<div class="identity-page login">
    <div class="wrapper">
        <h2>Поздравляем!</h2>
        <br />
        <p>Регистрация успешно завершена.</p>
        <p>Воспользуйтесь своими учетными данными, чтобы войти на сайт на <a href="@Url.Action("Login", "Account")">этой странице</a>. </p>
    </div>
</div>
