@{
    ViewBag.Title = "Регистрация аккаунта";
}

@section head{
    <meta name="robots" content="noindex" />
}

<div class="identity-page login">
    <div class="wrapper">
        <h2>Спасибо за регистрацию.</h2>
        <br />
        <p>На указанный Вами почтовый ящик высланы инструкции для завершения регистрации.</p>
    </div>
</div>

