@{
    ViewBag.Title = "Подтверждение заяки восстановления пароля";
}

@section head{
    <meta name="robots" content="noindex" />
}

<div class="identity-page login">
    <div class="wrapper">
        <h2>@ViewBag.Title</h2>
        <p>
            <br />
            На Ваш email было выслано письмо с инструкциями для восстановления пароля.
        </p>
    </div>
</div>

