@{
    ViewBag.Title = "Успешное восстановление пароля";
}

@section head{
    <meta name="robots" content="noindex" />
}

<div class="identity-page login">
    <div class="wrapper">
        <h2>Поздравляем!</h2>
        <br />
        <p>Пароль успешно восстановлен.</p>
        <p><a href="@Url.Action("Login","Account")" rel="nofollow">Войдите на сайт</a>, используя новые учетные данные.</p>
    </div>
</div>

