@import (reference) "colors.less";
@import (reference) "sizes.less";
@import (reference) "../bower_components/bootstrap/less/variables.less";

#humor-page{
    color:@color-white;
    margin:@def-pad*2 0;
}

.humor-list{
    font-size:15px;
    margin-bottom:@def-pad*4;
}

.humor-list__header{
    font-size:18px;
    font-weight:700;
    margin-bottom:10px;
}