@import (reference) "colors.less";
@import (reference) "sizes.less";

.yandex-news{
    margin-bottom:@def-pad*2;
    color:@color-white;
}

.yandex-news a{
    color:inherit;
}

.yandex-news__item{
    margin-bottom:@def-pad*2;
}

.yandex-news > .ya-news__title{
    font-size: 25px;
    margin-bottom:@def-pad*2;
    color:#FF0000;
}

.yandex-news__item .ya-news__title{
    font-weight:700;
    font-size:17px;
}

.ya-news__date{
    font-size:12px;
    display:block;
}
