@import (reference) "sizes.less";
@import (reference) "colors.less";

.yt-videos-list{
    margin-top:@def-pad*2;
    color:@color-white;
}

.yt-videos-list__info{
    margin-bottom:@def-pad*4;
}

.yt-videos-list__info h2{
    font-size:120%;
    margin-bottom:@def-pad;
    font-weight:700;
}

//humor-yt-item
.humor-yt-item{
    margin-top:@def-pad*3;
}
.humor-yt-item__video{
    position:relative;
    height:150px;
    margin-bottom:@def-pad;
}
.humor-yt-item__title{
    margin:0;
    font-size:120%;
    font-weight:700;
    margin-bottom:@def-pad;
}