@import (reference) "sizes.less";
@import (reference) "colors.less";
@import (reference) "../bower_components/bootstrap/less/variables.less";

.yt-videos-list{
    margin-top:@def-pad*2;
    color:@color-white;
}

.yt-videos-list__info{
    margin-bottom:@def-pad*4;
}

.yt-videos-list__info h2{
    font-size:120%;
    margin-bottom:@def-pad;
    font-weight:700;
}

//humor-yt-item
.humor-yt-item{
    margin-top:@def-pad*3;
}

@humor-yt-item__video--h:150px;

.humor-yt-item__video{
    position:relative;
    height:@humor-yt-item__video--h;
    margin-bottom:@def-pad;
    
    @media (max-width: @screen-xs-max) {
        height:@humor-yt-item__video--h*2;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    }

    @media (min-width: @screen-lg-min) {
    }
}
.humor-yt-item__title{
    margin:0;
    font-size:120%;
    font-weight:700;
    margin-bottom:@def-pad;
}

.humor-yt-item__banner{
    margin-top:@def-pad*2;
    height:@humor-yt-item__video--h;
    overflow:hidden;
}

//yt-archive
#yt-archive ul{
    list-style:none;
    margin:0;
    color:@color-white;
}

#yt-archive a{
    color:inherit;
}