@model SxVMLikeButton[]
@{
    Layout = null;
}

@Html.SxGridView(Model,
            new SxExtantions.SxGridViewSettings<SxVMLikeButton>
            {
                Columns = new SxExtantions.SxGridViewColumn<SxVMLikeButton>[]{
                    new SxExtantions.SxGridViewColumn<SxVMLikeButton>{FieldName="NetName", Caption="Сеть", Template=x=> {
                        return string.Format("<span style=\"width:100px; display:inline-block;\">{0}</span>&nbsp;<i class=\"{1}\"></i>", x.NetName, x.Net.LogoCssClass);
                    } },
                    new SxExtantions.SxGridViewColumn<SxVMLikeButton>{FieldName="Show", Caption="Показывать", Template=x=> {
                        return string.Format("<i class=\"fa {0} {1}\"></i>", x.Show?"fa-check ":"fa-times", x.Show?"text-success":"text-danger");
                    } },
                    new SxExtantions.SxGridViewColumn<SxVMLikeButton>{FieldName="ShowCounter", Caption="Показывать счетчик", Template=x=> {
                        return string.Format("<i class=\"fa {0} {1}\"></i>", x.ShowCounter?"fa-check ":"fa-times", x.ShowCounter?"text-success":"text-danger");
                    } }
                },
                EnableEditing = true,
                EditRowUrl = (x) => { return Url.Action("Edit", "LikeButtons", new { id=x.Id}); },
                DataAjaxUrl = Url.Action("Index", "LikeButtons")
            }
    )