@model SxVMLog[]
@{
    ViewBag.Title = "Очистить логи";
}

@section styles{
    <style>
        .log-item {
            margin-bottom: 30px;
            position: relative;
        }

        .log-item__link {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    </style>
}

<h2>@ViewBag.Title</h2>

<div id="grid">
    @Html.Partial("_GridView", Model)
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modal-show-log">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <div id="log-content" style="max-height:400px; overflow:hidden; overflow-y:auto;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            var gv = new SxGridView('#grid');

            $('#grid').on('click', '.show-btn', function (e) {
                e.preventDefault();
            });

            $('#modal-show-log').on('show.bs.modal', function (e) {
                var modal = $(this);
                var name=$(e.relatedTarget).attr('data-url');
                modal.find('.modal-title').html(name);

                $.ajax({
                    method: 'get',
                    url: '@Url.Action("File", "Logs")',
                    data: { name: name },
                    beforeSend: function () {
                        $('#log-content').html('<div class="text-center"><i class="fa fa-spinner fa-spin"></i><div>');
                    },
                    success: function (result) {
                        $('#log-content').html(result);
                    }
                });
            })
        });
    </script>
}