@model VMGame[]

@Html.SxGridView(Model,
    new SxExtantions.SxGridViewSettings<VMGame>
    {
        Columns = new SxExtantions.SxGridViewColumn<VMGame>[]{
            new SxExtantions.SxGridViewColumn<VMGame>(){FieldName="Title", Caption="Наименование игры"},
            new SxExtantions.SxGridViewColumn<VMGame>(){FieldName="TitleAbbr", Caption="Краткое наименование игры"},
            new SxExtantions.SxGridViewColumn<VMGame>(){FieldName="Description", Caption="Описание"},
            new SxExtantions.SxGridViewColumn<VMGame>(){FieldName="Show", Caption="Показывать", Template=m=> m.Show? "Да":"Нет"},
            new SxExtantions.SxGridViewColumn<VMGame>() { FieldName="Id", Caption="Steam функционал", EnableFiltering=false, EnableSorting=false, Template=x=> (x.SteamAppsCount>0?$"<button class=\"btn btn-xs btn-info\" data-toggle=\"modal\" data-target=\"#modal-linked-steam-apps\" style=\"margin-right:5px\">{x.SteamAppsCount}</button>":null) + $"<button class=\"btn btn-xs btn-primary\" data-toggle=\"modal\" data-target=\"#modal-steam-apps\"> Steam</button>", ColumnCssClass=x=>"text-center"}
        },
        DataAjaxUrl = Url.Action("Index", "Games"),
        RowCssClass = x => !x.Show ? "warning" : null,
        EnableCreating = true,
        CreateRowUrl = Url.Action("Edit", "Games"),
        EnableEditing = true,
        EditRowUrl = x => Url.Action("Edit", "Games", new { id = x.Id }),
        ShowPagerInfo = true,
        RowId = x => x.Id.ToString()
    }
    )