<div class="modal fade" tabindex="-1" role="dialog" id="modal-steam-apps">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Приложения Steam</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-info">
                    Укажите прилоэжение Steam для привязки к игре
                </div>
                <input type="hidden" name="GameId" />
                @Html.AntiForgeryToken()
                <div id="modal-steam-apps-body">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
