@model VMGame[]
@{
    ViewBag.Title = "Игры";
}

<h2>Игры</h2>
<br />
<div id="grid-games">
    @Html.Partial("_GridView", Model)
</div>

@section scripts{
    <script>
        $('#grid-games').sx_gv();
    </script>
}