@model SxVMSiteTestQuestion[]
@{
    ViewBag.Title = "Вопросы тестов сайта";
}

<h2>@ViewBag.Title</h2>
<br />
<div id="site-test-questions">
    @Html.Partial("_gridview", Model)
</div>

@section scripts{
    <script>
        $(function () {
            $('#site-test-questions').sx_gv();
        });
    </script>
}