@{
    Layout=MVC.Shared.Views._Errors;
    ViewBag.Title = "Страница не найдена";
}
<div class="e-txt">Ошибка <span class="e-num">404</span></div>
<div class="e-mes">Страница не существует или она была удалена</div>

<ul class="e-menu">
    <li>
        <a href="/">На главную</a>
    </li>
    <li>
        <a href="@Url.Action(MVC.News.List())">Новости</a>
    </li>
    <li>
        <a href="@Url.Action(MVC.Articles.List())">Статьи</a>
    </li>

</ul>