@{
    ViewBag.Title = "Ошибка сервера";
}

<div class="error-page">
    <div class="row">
        <div class="col-md-6">
            <div class="err-txt">
                Ошибка
            </div>
        </div>
        <div class="col-md-6">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="err-code">
                500
            </div>
        </div>
        <div class="col-md-6">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            Ошибка сервера
        </div>
        <div class="col-md-6">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <br />
            <a href="/" class="btn btn-default btn-transparent dark-blue">Продолжить серфинг</a>
        </div>
        <div class="col-md-6">
            &nbsp;
        </div>
    </div>
</div>