@{
    Layout = "~/Views/Shared/_Errors.cshtml";
    ViewBag.Title = "Ошибка сервера";
}

<div class="e-txt">Ошибка <span class="e-num">500</span></div>
<div class="e-mes">Непредвиденная ошибка сервера. Мы уже работаем над усранением ошибки.</div>

<ul class="e-menu">
    <li>
        <a href="/">На главную</a>
    </li>
    <li>
        <a href="@Url.Action("List", "News")">Новости</a>
    </li>
    <li>
        <a href="@Url.Action("List", "Articles")">Статьи</a>
    </li>

</ul>