@{
    ViewBag.Title = "Главная";
}

<h3>Добро пожаловать на борт <span class="text-primary">@SX.WebCore.Resources.Settings.adminPanelName</span>, @User.Identity.Name !</h3>
<br />

<h4><strong>Сейчас в админ-панеле</strong></h4>
<div id="uons"></div>

@section scripts{
    <script type="text/javascript">
        $('#uons').load('/users/usersonsite');
    </script>
}