@{
    ViewBag.Title = "Index";
}

<h3>Добро пожаловать на борт <span class="text-primary">@SX.WebCore.Resources.Settings.adminPanelName</span>, @User.Identity.Name !</h3>
<br />

<h4><strong>Сейчас в админ-панеле</strong></h4>
<div id="uons"></div>

<h4><strong>Последние комментарии к материалам</strong></h4>
<div id="lcm"></div>

@section scripts{
    <script type="text/javascript">
        $('#uons').load('@Url.Action(MVC.Users.UsersOnSite())');
        $('#lcm').load('@Url.Action(MVC.Comments.LastComments())');
    </script>
}