@model SX.WebCore.SxSeoPhrase[]
@{
    ViewBag.Title = "Счетчик слов";
}

<h2>@ViewBag.Title</h2>

@using (Ajax.BeginForm(MVC.SeoWordCounter.AddPhrase(), new AjaxOptions { HttpMethod = "post", UpdateTargetId = "phrases" }))
{
    @Html.AntiForgeryToken()
    <label for="phrase">Фраза для анализа</label>
    <textarea placeholder="Введите фразу для анализа" name="phrase" id="phrase" style="min-height:100px;" class="form-control"></textarea>
    <div class="text-left">
        <br />
        <button type="submit" class="btn btn-default"><i class="fa fa-level-down"></i> Отпавить</button>
    </div>
}

<div id="phrases">
    @Html.Partial(MVC.SeoWordCounter.Views._Table, Model)
</div>