@model VMMaterialTag[]
@{
    Layout = null;
    var filter = ViewBag.Filter != null ? (VMMaterialTag)ViewBag.Filter : null;
    var sortDirections = ViewBag.Order != null ? (Dictionary<string, SxExtantions.SortDirection>)ViewBag.Order : null;
    var mid = (int)ViewBag.MaterialId;
    var mct = (SX.WebCore.Enums.ModelCoreType)ViewBag.ModelCoreType;
}

<h3>Облако тегов для материала</h3>
<blockquote>
    Теги должны содержать основные слова, которые могут содержаться в облаке тегов сайта.
</blockquote>
@using (Ajax.BeginForm(MVC.MaterialTags.Edit(), new AjaxOptions { HttpMethod = "post", UpdateTargetId = "tags-cloud" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="MaterialId" name="MaterialId" value="@mid" autocomplete="off" />
    <input type="hidden" id="ModelCoreType" name="ModelCoreType" value="@mct" autocomplete="off" />
    <label for="Value">Новый тег облака</label>
    <div class="input-group">
        <input type="text" id="Id" name="Id" class="form-control" placeholder="Введите значение тега" autocomplete="off" />
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Добавить</button>
        </span>
    </div>
}
<br />
@Html.SxGridView(
        new SxExtantions.SxGridViewSettings<VMMaterialTag>
        {
            UpdateTargetId = "grid-mat-tags",
            Data = Model,
            Columns = new SxExtantions.SxGridViewColumn[]{ new SxExtantions.SxGridViewColumn{
                FieldName ="Id",
                Caption ="Значение"
            } },
            Filter = filter,
            SortDirections = sortDirections,
            GeneralControllerName = "materialtags",
            KeyFieldsName = new string[] { "Id", "MaterialId", "ModelCoreType" },
            EnableEditing = false,
            EnableDelete = true,
            EnableCreate = false,
            DeleteLink = Url.Action(MVC.MaterialTags.Delete()),
            PagerLink=string.Format("/materialtags/index?mid={0}&mct={1}", mid, mct)
        },
        new { @class = "table table-condensed table-bordered table-responsive table-striped" }
    )