@model SxVMMaterialTag[]
@{
    Layout = null;
    int mid = ViewBag.MaterialId;
    Enums.ModelCoreType mct = ViewBag.ModelCoreType;
}

<h3>Облако тегов для материала</h3>
<blockquote>
    Теги должны содержать основные слова, которые могут содержаться в облаке тегов сайта.
</blockquote>
@using (Ajax.BeginForm("edit", new { controler = "MaterialTags" }, new AjaxOptions { HttpMethod = "post", UpdateTargetId = "grid-mat-tags" }, new { @autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="MaterialId" name="MaterialId" value="@mid" />
    <input type="hidden" id="ModelCoreType" name="ModelCoreType" value="@mct" />
        <label for="Value">Новый тег облака</label> <span class="text-info">(максимально 4 слова)</span>
        <div class="input-group">
            <input type="text" id="Id" name="Id" class="form-control" placeholder="Введите значение тега" />
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Добавить</button>
            </span>
        </div>
}
<br />
@Html.SxGridView(Model,
        new SxExtantions.SxGridViewSettings<SxVMMaterialTag>
        {
            Columns = new SxExtantions.SxGridViewColumn<SxVMMaterialTag>[]{
                new SxExtantions.SxGridViewColumn<SxVMMaterialTag>{ FieldName ="Id", Caption ="Значение"
            } },
            DataAjaxUrl ="/materialtags?mid="+mid+"&mct="+mct,
            EnableDeleting=true,
            DeleteRowUrl = x => { return Url.Action("Delete", "MaterialTags", new { Id = x.Id, MaterialId=mid, ModelCoreType = mct }); }
        }
    )