
@{
    ViewBag.Title = ViewBag.Title ?? "Контакты";
    ViewBag.H1 = ViewBag.H1 ?? ViewBag.Title;
    ViewBag.H1CssClass = "hidden";
    ViewBag.Description = ViewBag.Description ?? "Контакты руководства и сотрудников сайта";
    ViewBag.Keywords = ViewBag.Keywords ?? "Контакты руководства game-exe.com, Контакты сотрудников game-exe.com";
}

<div class="identity-page contacts">
    <h2 class="header">@ViewBag.Title</h2>
</div>
    

