@model VMMateriallnfo
@{ 
    Layout = null;
}

<div class="vote">
    <i class="fa fa-thumbs-o-up up" title="Класс"></i> <span class="up">@Model.VoteUpCount</span>
    <i class="fa fa-thumbs-o-down down" title="Не очень"></i><span class="down">@Model.VoteDownCount</span>
</div>