@model VMNews[]
@{
    ViewBag.Title = "Новости";
}

<h2>@ViewBag.Title</h2>
<br />
<div id="grid-news">
    @Html.Partial("_GridView", Model)
</div>

@section scripts{
    <script>
        $('#grid-news').sx_gv();
    </script>
}