@import (reference) "colors.less";

.sx-grid-view th {
    font-weight: normal;
    border-bottom-width:1px !important;
}

.sx-grid-view .ordered-column {
    cursor: pointer;
}

.sx-grid-view .ordered-column:active {
    background-color: @color-blue;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.sx-grid-view .ordered-column > .sort-btn {
    float: right;
    line-height: unset;
}

.sx-grid-view input {
    border: 1px solid @color-gray;
    padding: 2px 2px 2px 10px;
    width:100%;
}

.sx-grid-view .sx-add-column{
    width:40px;
}