@model SxVMSiteTestBlock[]
@{
    ViewBag.Title = "Блоки тестов сайта";
}

<h2>@ViewBag.Title</h2>
<br />
<div id="site-test-blocks">
    @Html.Partial("_gridview", Model)
</div>

@section scripts{
    <script>
        $(function () {
            $('#site-test-blocks').sx_gv();
        });
    </script>
}