@model SxExtantions.SxPagedCollection<VMArticle>
@{
    Layout = null;
    var gameTitle = (string)ViewBag.GameTitle;
}

@if (Model.Length != 0)
{
    <div class="list-article-container">
        @Html.SxList(Model, new SxExtantions.SxListSettings { ColCount = 3, CellCssStyle = "list-article" })
        <div class="text-center">
            @Html.SxPager(Model.PagerInfo, pageUrl: (x) => Url.Action("List", new { gameTitle=gameTitle, page=x}), isAjax: false, htmlAttributes: new { @class = "pagination" })
        </div>
    </div>
}