@model Article[]
@{
    Layout = null;
}

<ul class="last-articles">
    @foreach (var item in Model)
    {
        <li>
            <a title="@item.Title" href="@Url.Action(MVC.Articles.Details(item.DateCreate.Year, item.DateCreate.Month.ToString("00"), item.DateCreate.Day.ToString("00"), item.TitleUrl))">@item.Title</a>
        </li>
    }
</ul>