<hr />

<h4>Вставка инфографика</h4>
<p>Для вставки инфографика необходимо в тело материала вставить код <code>[IG]{x}[/IG]</code>, где {x} - это идентификатор картинки, к которой привязан инфографик. <strong class="text-danger">Инфографик должен быть привязан к материалу в обязательном порядке!</strong></p>