@model VMMaterial[]
@{ 
    Layout = null;
    var mct = (byte)ViewData["ModelCoreType"];
    var materialsTitle = string.Empty;
    var allUrl = string.Empty;
    switch (mct)
    {
        case (byte)SX.WebCore.Enums.ModelCoreType.News:
            materialsTitle = "Последние новости";
            allUrl = Url.Action("List", "News");
            break;
        case (byte)SX.WebCore.Enums.ModelCoreType.Article:
            materialsTitle = "Последние статьи";
            allUrl = Url.Action("List", "Articles");
            break;
        case 6/*aphorism*/:
            materialsTitle = "Последние афоризмы к игре "+ ViewBag.GameTitle;
            allUrl = Url.Action("List", "Aphorisms");
            break;
        default:
            materialsTitle = "Последние материалы";
            allUrl = "#";
            break;
    }

    VMMaterial item;
}

@if (Model.Any())
{
    <section>
        <h3>@materialsTitle</h3>
        @for (int i = 0; i < Model.Length; i++)
        {
            item = Model[i];
            @Html.DisplayFor(x => item)
        }
        <div class="text-center">
            <br />
            <a href="@allUrl" class="btn btn-default btn-transparent white">Все записи</a>
        </div>
    </section>
}
