@model VMDetailGame
@{
    ViewBag.Title = ViewBag.Title ?? Model.Title;
    ViewBag.H1 = ViewBag.H1 ?? Model.Title;
    ViewBag.Description = ViewBag.Description ?? "Последние новости, статьи, афоризмы " + Model.Title;
    ViewBag.Keywords = ViewBag.Keywords ?? string.Format("Новости {0}, статьи {0}, афоризмы {0}", Model.Title);
}

<div class="game-datails details">
    <div class="html">
        @Html.Raw(Model.FullDescription)
    </div>
    <div class="news">
        @Html.Partial("_DetailGameMaterials", Model.GetMaterialsByCoreType(SX.WebCore.Enums.ModelCoreType.News), new ViewDataDictionary { { "ModelCoreType", SX.WebCore.Enums.ModelCoreType.News } })
    </div>
    <div class="articles">
        @Html.Partial("_DetailGameMaterials", Model.GetMaterialsByCoreType(SX.WebCore.Enums.ModelCoreType.Article), new ViewDataDictionary { { "ModelCoreType", SX.WebCore.Enums.ModelCoreType.Article } })
    </div>
    <div class="aphorisms">
        @Html.Partial("_DetailGameMaterials", Model.GetMaterialsByCoreType(SX.WebCore.Enums.ModelCoreType.Aphorism), new ViewDataDictionary { { "ModelCoreType", SX.WebCore.Enums.ModelCoreType.Aphorism }, { "GameTitle", Model.Title } })
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        loadScriptOnce('https://www.youtube.com/iframe_api');
    </script>
}