@model SxVMBannedUrl[]
@{
    Layout = null;
}


@Html.SxGV(Model,
        new SxExtantions.SxGVSettings<SxVMBannedUrl>
        {
            Columns = new SxExtantions.SxGvColumn<SxVMBannedUrl>[]{
                new SxExtantions.SxGvColumn<SxVMBannedUrl>{FieldName="Url", Caption="Адрес", Template=(u)=> {
                    return string.Format("<a href=\"{0}\" target=\"_blank\">{0}</a>", u.Url);
                } },
                new SxExtantions.SxGvColumn<SxVMBannedUrl>{FieldName="Couse", Caption="Причина бана"}
            },
            EnableCreating = true,
            CreateRowUrl = "/bannedurls/edit",
            EnableEditing = true,
            EditRowUrl = (x) => { return "/bannedurls/edit/" + x.Id; },
            DataAjaxUrl = "/bannedurls"
        }
    )