@model SxVMPicture[]
@{
    ViewBag.Title = "Фото-контент";
}

@section styles{
    <link href="~/content/dist/css/lightbox.min.css" rel="stylesheet" />
    <link href="~/content/dist/css/grid-pictures.min.css" rel="stylesheet" />
}

<h2>@ViewBag.Title</h2>
<p class="text-warning" style="max-width:600px;">
    При добалении изображений не допускайте разрастания базы данных. Размер добавляемого файла не должен превышать <b>300 kB</b>. Перед добавлением рекомендуется сжать изображение специализированным online-сервисом (например <a href="http://resizepiconline.com" rel="nofollow" target="_blank"><b>http://resizepiconline.com</b></a>)
</p>
<br />
<div id="grid-pictures">
    @Html.Partial("_GridView", Model)
</div>

@section scripts{
    <script src="~/content/dist/js/lightbox.min.js"></script>
    <script>
        $(function () {
            $('#grid-pictures').sx_gv();
        });
    </script>
}