@model VMManual[]
@{
    Layout = null;
}


@Html.SxGridView(Model,
    new SxExtantions.SxGridViewSettings<VMManual>
    {
        Columns = new SxExtantions.SxGridViewColumn<VMManual>[]{
            new SxExtantions.SxGridViewColumn<VMManual>{FieldName="Title", Caption="Заголовок"},
            new SxExtantions.SxGridViewColumn<VMManual>{FieldName="CategoryId", Caption="Инфо", Template=(m)=> {
                return string.IsNullOrEmpty(m.CategoryId) ?string.Format("<span class=\"text-danger\">{0}</span>", "Не определена категория"):null;
            } }
        },
        DataAjaxUrl = "/manuals",
        EnableCreating=true,
        CreateRowUrl= "/manuals/edit",
        EnableEditing=true,
        EditRowUrl = x => { return "/manuals/edit/" + x.Id; },
        ShowPagerInfo=true

    }
 )