@model VMManual[]
@{
    ViewBag.Title = "Справочные материалы";
}

<h2>@ViewBag.Title</h2>
<br />
<div id="grid-manuals">
    @Html.Partial("_GridView", Model)
</div>

@section scripts{
    <script>
        $('#grid-manuals').sx_gv();
    </script>
}