@{
    ViewBag.Title = "FAQ";
}

<h2>@ViewBag.Title</h2>

<div class="manuals">
    <div class="row">
        <div class="col-md-2 scrollspy">
            <ul id="nav" class="list-unstyled hidden-xs hidden-sm" data-spy="affix">
                <li>
                    <a href="#metatags">SEO оптимизация</a>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#metatags">Метатеги</a>
                        </li>
                        <li>
                            <a href="#301redirect">301 редирект</a>
                        </li>
                        <li>
                            <a href="#robotstxt">robots.txt</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#clicks">Статистика кликов</a>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#statclickstypes"></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-10">
            <div class="html">
                <section>
                    <div id="metatags">
                        <h2 class="text-primary">SEO оптимизация</h2>
                        <h3>Метатеги</h3>
                        <p>
                            Метатеги задаются отдельно для каждой страницы.
                        </p>
                        <p>
                            Для каждого адреса можно задать <mark>title</mark>, <mark>description</mark> и <mark>keywords</mark>.
                        </p>
                        <p>
                            Теги считываются каждый раз при обращении к странице сайта и кешируются на 15 мин. В связи с кешированием, время изменения тегов на целевой странице может составить до 15 минут.
                        </p>
                        <p>Для материалов формирование <mark>title</mark> происходит автоматически при создании материала. Вместо тега <mark>description</mark> для материалов при отображения на страницах сайта используется поле <code>Foreword</code>. </p>
                        <p>Теги можно задать для любой страницы сайта, задав локальный адрес страницы в качестве адреса страницы отслеживания в разделе @Html.ActionLink("редактирования", MVC.SeoInfo.Index())  страниц отслеживания ("SEO оптимизация" - "Метатеги")</p>
                    </div>

                    <div id="301redirect">
                        <h3>301 редирект</h3>
                        <p>Постоянное перенаправление применяется при изменении адреса целевых страниц сайта и задается в разделе @Html.ActionLink("301 редирект", MVC.Redirects.Index()).<p>
                        <p>Для того, чтобы при обращении к перемещенным на новые <mark>url</mark> страницам сайта вместо 404 ошибки происходил редирект на новое расположение страницы, необходимо добавить их в данном разделе.</p>
                        <p>Операцию добавления страниц для редиректа необходимо проводить после каждого изменения <mark>url</mark> материалов.</p>
                    </div>

                    <div id="robotstxt">
                        <h3>robots.txt</h3>
                        <p>@Html.ActionLink("Применяется", MVC.Settings.EditRobotsFile()) для управления индексированием сайта поисковыми системами.</p>
                        <p>Изменения в файле вступаю в силу в течение 15 мин.</p>
                    </div>
                </section>

                <section>
                    <div id="clicks">
                        <h2 class="text-primary">Статистика кликов</h2>
                        <p>Применяется для отслеживания поведения пользователей, проходящих по тем или иным ссылкам.</p>
                        <p>Отслеживать можно любое подведение, задав тип статистики кликов.</p>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $('body').attr('data-spy', 'scroll');
            $('body').attr('data-target', '.scrollspy');

            $('#nav').affix({
                offset: {
                    top: $('#nav').offset().top
                }
            });
        });
    </script>
}