@model VMAphorism[]
@{
    ViewBag.Title = "Афоризмы";
    SxMaterialCategory category = ViewBag.Category;
}

@section styles{
    <link href="~/Content/dist/css/grid-aphorisms.min.css" rel="stylesheet" />
}

<h2>@ViewBag.Title</h2>
<div class="form-group">
    <br />
    <div class="text-left">
        <form method="post" action="/aphorisms/report">
            <button class="btn btn-default" type="submit"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Отчет</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        @Html.Action("TreeViewMenu", new { controller = "MaterialCategories", mct = Enums.ModelCoreType.Aphorism })
    </div>
    <div class="col-md-9">
        <div class="content">
            @if (category != null)
            {
                <h4 class="header">@category.Title</h4>
            }
            <div id="grid-aphorisms">
                @Html.Partial("_GridView", Model)
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            $('#grid-aphorisms').sx_gv();
        });
    </script>
}