@model System.Data.DataTable
@if (Model != null)
{
    <table class="table table-condensed table-bordered table-responsive table-striped">
        <thead>
            <tr>
                @foreach (System.Data.DataColumn column in Model.Columns)
                {
                    <th>
                        @if (column == Model.Columns[0])
                        {

                        }
                        else
                        {
                            @column.Caption
                        }
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (System.Data.DataRow row in Model.Rows)
            {
                <tr>
                    @foreach (System.Data.DataColumn column in Model.Columns)
                    {
                        if (column == Model.Columns[0])
                        {
                            <td class="matrix__first-column">
                                @row[column.ColumnName]
                            </td>
                        }
                        else
                        {
                            <td>
                                @row[column.ColumnName]
                            </td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
}
