@model SX.WebCore.SxVideo
@{ 
    Layout = null;
}

<div class="list-video">
    <figure style="background-image:url(@SX.WebCore.Providers.VideoProvider.GetVideoImageUrl(Model.VideoId, SX.WebCore.Providers.VideoProvider.VideoQuality.Medium)">
        <div class="l-v-wr">
            <a href="javascript:void(0)">
                <i class="fa fa-youtube-play"></i>
            </a>
        </div>
    </figure>
</div>