@model VMUser[]
@{
    Layout = null;
    var pagerInfo = ViewBag.PagerInfo;
    var filter = ViewBag.Filter != null ? (VMUser)ViewBag.Filter : null;
    var sortDirections = ViewBag.Order != null ? (Dictionary<string, SxExtantions.SortDirection>)ViewBag.Order : null;
}


@Html.SxGridView(
    new SxExtantions.SxGridViewSettings<VMUser>
    {
        UpdateTargetId = "grid-users",
        Data = Model,
        Columns = new SxExtantions.SxGridViewColumn<VMUser>[]{
            new SxExtantions.SxGridViewColumn<VMUser>{FieldName="NikName", Caption="Ник-нейм"},
            new SxExtantions.SxGridViewColumn<VMUser>{FieldName="Email", Caption="Почта", Template=(m)=> {
                return string.Format("<a href=\"mailto:{0}\">{0}</a>", m.Email);
            }},
            new SxExtantions.SxGridViewColumn<VMUser>{FieldName="RoleNames", Caption="Роль"},
        },
        PagerInfo=pagerInfo,
        Filter = filter,
        SortDirections = sortDirections,
        EnableCreate=false
    },
        new { @class = "table table-condensed table-bordered table-responsive table-striped" }
    )