@model VMUser[]
@{
    Layout = null;
    var filter = ViewBag.Filter != null ? (VMUser)ViewBag.Filter : null;
    var sortDirections = ViewBag.Order != null ? (Dictionary<string, SxExtantions.SortDirection>)ViewBag.Order : null;
}


@Html.SxGridView(
    new SxExtantions.SxGridViewSettings<VMUser>
    {
        UpdateTargetId = "grid-users",
        Data = Model,
        Columns = new SxExtantions.SxGridViewColumn[]{
            new SxExtantions.SxGridViewColumn{FieldName="NikName", Caption="Ник-нейм"},
            new SxExtantions.SxGridViewColumn{FieldName="Email", Caption="Почта", Template=(val)=> { return string.Format("<a href=\"mailto:{0}\">{0}</a>", val); } },
            new SxExtantions.SxGridViewColumn{FieldName="RoleNames", Caption="Роль"},
        },
        Filter = filter,
        SortDirections = sortDirections
    },
        new { @class = "table table-condensed table-bordered table-responsive table-striped" }
    )