@model SxVMBanner[]
@{
    Layout = null;
}


@Html.SxGV(Model,
        new SxExtantions.SxGVSettings<SxVMBanner>
        {
            Columns = new SxExtantions.SxGvColumn<SxVMBanner>[]{
                new SxExtantions.SxGvColumn<SxVMBanner>{FieldName="Id", Caption="Идентификатор"},
                new SxExtantions.SxGvColumn<SxVMBanner>{FieldName="Url", Caption="Адрес перехода", Template=(b)=> {
                    return string.Format("<i class=\"fa fa-link\"></i>&nbsp;<a target=\"_blank\" href=\"{0}\">{0}</a>", b.Url);
                } },
                new SxExtantions.SxGvColumn<SxVMBanner>{FieldName="Title", Caption="Заголовок"},
                new SxExtantions.SxGvColumn<SxVMBanner>{FieldName="Place", Caption="Позиция", Template=(b)=> {
                    return b.Place==SX.WebCore.SxBanner.BannerPlace.Unknown? null : string.Format("<b class=\"text-warning\">{0}</b>", b.Place);
                } },
                new SxExtantions.SxGvColumn<SxVMBanner>{FieldName="ShowsCount", Caption="Показов"},
                new SxExtantions.SxGvColumn<SxVMBanner>{FieldName="ClicksCount", Caption="Кликов"},
                new SxExtantions.SxGvColumn<SxVMBanner>{FieldName="CTR", Caption="CTR, %"},
                new SxExtantions.SxGvColumn<SxVMBanner>{FieldName="PictureId", Caption="Картинка", Template=(p)=> {
                return string.Format("<a data-lightbox=\"roadtrip\" data-title=\"{1}\" data-toggle=\"tooltip\" title=\"Помотреть картинку\" href=\"/pictures/picture/{0}\"><i class=\"fa fa-picture-o\"></i></a>", p.PictureId, p.Title);
            }
                }
            },
            EnableCreating = true,
            CreateRowUrl = "/banners/edit",
            EnableEditing = true,
            EditRowUrl = (x) => { return "/banners/edit/" + x.Id; },
            DataAjaxUrl = "/banners"
        }
    )