@model SxVMBanner[]
@{
    ViewBag.Title = "Баннеры";
}

@section styles{
    <link rel="stylesheet" href="~/content/dist/css/lightbox.min.css" />
    <link href="~/content/dist/css/grid-banners.min.css" rel="stylesheet" />
}

<h2>@ViewBag.Title</h2>
<br />
<div id="grid-banners">
    @Html.Partial("_gridview", Model)
</div>

@section scripts{
    <script type="text/javascript" src="~/content/dist/js/lightbox.min.js"></script>
    <script>
        $(function () {
            $('#grid-banners').sx_gv();
        });
    </script>
}