@model VMAuthorAphorism[]
@{
    ViewBag.Title = "Авторы афоризмов";
}

@section styles{
    <style>
        .col-aa > figure{
            width:30px;
            height:30px;
            background-position:center center;
            background-size:cover;
        }
    </style>
}

<h2>@ViewBag.Title</h2>
@*@if (User.IsInRole("architect"))
{
    <div class="form-group">
        <div class="text-right">
            <form method="post" action="@Url.Action("GenerateTitleUrl","AuthorAphorisms")">
                <button type="submit" class="btn btn-default">Сгенерировать TitleUrl</button>
            </form>
        </div>
    </div>
}*@
<div class="alert alert-warning">
    <strong>Внимание!</strong> При добалении изображений не допускайте разрастания базы данных. Размер добавляемого файла не должен превышать <b>@(Convert.ToDecimal(System.Configuration.ConfigurationManager.AppSettings["MaxPictureLength"])/1024) kB</b> . Перед добавлением рекомендуется сжать изображение специализированным online-сервисом (например <a href="http://resizepiconline.com" rel="nofollow">http://resizepiconline.com</a>). <b>Рекомедуемый размер изображений для авторов афоризмов - 100 x 100 px</b>
</div>
<br />
<div id="grid-author-ap">
    @Html.Partial("_GridView", Model)
</div>

@section scripts{
    <script>
        $(function () {
            $('#grid-author-ap').sx_gv();
        });
    </script>
}