@{
    var bannerGroupId = (Guid)ViewBag.BannerGroupId;
}
<div class="add-banner sx-find-gv" data-is-load="false" data-url="/banners/findgridview?bgid=@bannerGroupId">
    <input type="hidden" name="Id" value="" />
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Выберите баннер для привязки" value="@ViewBag.BannerTitle">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">Выбрать</button>
            <button class="btn btn-default" type="button"><i class="fa fa-repeat"></i></button>
        </span>
    </div>

    <div class="dropdown">
    </div>

    <br />
    <form method="post" action="@Url.Action(MVC.BannerGroups.AddBanner())">
        <input type="hidden" name="bgid" value="@bannerGroupId" />
        <input type="hidden" name="bid" value="" />
        <button type="submit" class="btn btn-default" id="add-banner-btn">Добавить</button>
    </form>
</div>