<div class="edit-manual-group sx-find-table" data-is-load="false" data-url="@Url.Action(MVC.ManualGroups.FindTable())" data-page="1">
    <input type="hidden" name="@Html.NameForModel()" value="@Html.ValueForModel()" />
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Выберите группу" value="@ViewBag.ManualGroupId">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">Выбрать</button>
            <button class="btn btn-default" type="button"><i class="fa fa-repeat"></i></button>
        </span>
    </div>
    <div class="dropdown"></div>
</div>