@model object
@{
    var fieldName = Html.NameForModel().ToString()+"Caption";
    var pictureCaption = ViewData[fieldName];
}

<div id="@Html.IdForModel()">
    <input type="hidden" value="@Html.ValueForModel()" name="@Html.IdForModel()" />

    @Html.SxGridLookup(new SxExtantions.SxGridLookupSettings
{
    DataAjaxUrl = "/pictures/findgridview",
    DefaulText = pictureCaption == null ? Html.ValueForModel().ToString() : pictureCaption.ToString()
},
    new SxVMPicture[0]
)
</div>