@model int
@{
    var testId = ViewBag.SiteTestId;
    var blockTitle = ViewBag.SiteTestBlockTitle;
}

<div id="@Html.IdForModel()">
    <input type="hidden" value="@Html.ValueForModel()" name="@Html.IdForModel()" />

    @Html.SxGridLookup(new SxExtantions.SxGridLookupSettings
{
    DataAjaxUrl = "/sitetestblocks/findgridview?testId="+ testId,
    DefaulText = blockTitle == null ? Html.ValueForModel().ToString() : blockTitle.ToString()
},
    new SxVMSiteTest[0]
)
</div>
