@model int
@{
    var testTitle = ViewBag.SiteTestTitle;
}

<div id="@Html.IdForModel()">
    <input type="hidden" value="@Html.ValueForModel()" name="@Html.IdForModel()" />

    @Html.SxGridLookup(new SxExtantions.SxGridLookupSettings
{
    DataAjaxUrl = "/sitetests/findgridview",
    DefaulText = testTitle == null ? Html.ValueForModel().ToString() : testTitle.ToString()
},
    new SxVMSiteTest[0]
)
</div>