@model int?
@{
    var caption = (string)ViewBag.GameTitle;
}

<div id="@Html.IdForModel()">
    <input type="hidden" value="@Html.ValueForModel()" name="@Html.IdForModel()" />

    @Html.SxGridLookup(new SxExtantions.SxGridLookupSettings
{
    DataAjaxUrl = Url.Action("FindGridView", "Games"),
    DefaulText = caption == null ? Html.ValueForModel().ToString() : caption
},
    new VMGame [0]
)
</div>