@model VMSiteTest
@{
    ViewBag.Title = Model.Title;
    ViewBag.H1 = ViewBag.H1 ?? Model.Title;
    ViewBag.Description = ViewBag.Description ?? Model.Description;
    ViewBag.Keywords = ViewBag.Keywords ?? "Игровые тесты, тесты для игр";
}

<div id="st-page">
    @Html.Partial(MVC.SiteTests.Views._Details, Model)
</div>

@section scripts{
    <script>
        $(function () {
            initialyzeIndicators();
        });

        function initialyzeIndicators() {
            $('.sx-indicator').on('click', 'span', function () {
                $span = $(this);
                $section = $span.closest('section');
                var isTrue = $span.data('dir') == true;
                var isActive = $span.hasClass('active');
                if (isActive) return;

                if (isTrue) {
                    $span.next('span').removeAttr('class');
                    $span.next('span').removeAttr('data-date');
                }
                else {
                    $span.prev('span').removeAttr('class');
                    $span.prev('span').removeAttr('data-date');
                }

                $span.addClass('active');

                var text = $span.closest('li').find('.sx-indicator-txt').text();
                var isCorrect = $span.data('dir') == true;
                $('#st-form').append('<input type="hidden" name="questionText" value="' + text + '" />');
                $('#st-form').append('<input type="hidden" name="isTrue" value="' + isCorrect + '" />');
            });
        }

    </script>
}
