@model SxVMEmployee[]
@{
    ViewBag.Title = "Сотрудники сайта";
}

<h2>@ViewBag.Title</h2>
<br />
<div id="grid-employees">
    @Html.Partial("_GridView", Model)
</div>

@section scripts{
    <script>
        $(function () {
            $('#grid-employees').sx_gv();
        });
    </script>
}