@model VMRequest[]
@{
    Layout = null;
    var pagerInfo = ViewBag.PagerInfo;
    var filter = ViewBag.Filter != null ? (VMRequest)ViewBag.Filter : null;
    var sortDirections = ViewBag.Order != null ? (Dictionary<string, SxExtantions.SortDirection>)ViewBag.Order : null;
}


@Html.SxGridView(
        new SxExtantions.SxGridViewSettings<VMRequest>
        {
            UpdateTargetId = "grid-request",
            Data = Model,
            Columns = new SxExtantions.SxGridViewColumn<VMRequest>[]{
            new SxExtantions.SxGridViewColumn<VMRequest>{FieldName="DateCreate", Caption="Дата посещения"},
            new SxExtantions.SxGridViewColumn<VMRequest>{FieldName="SessionId", Caption="Идентификатор сессии"},
            new SxExtantions.SxGridViewColumn<VMRequest>{FieldName="Browser", Caption="Браузер"},
            new SxExtantions.SxGridViewColumn<VMRequest>{FieldName="ClientIP", Caption="IP клиента"},
            new SxExtantions.SxGridViewColumn<VMRequest>{FieldName="UserAgent", Caption="Строка агента", Template=(m)=> {
                return m.UserAgent.Contains("bot") || m.UserAgent.Contains("Yahoo! Slurp") || m.UserAgent.Contains("spider")?string.Format("<i class=\"text-danger\">{0}</i>",m.UserAgent):m.UserAgent;
            } },
            new SxExtantions.SxGridViewColumn<VMRequest>{FieldName="RequestType", Caption="Тип запросв"},
            new SxExtantions.SxGridViewColumn<VMRequest>{FieldName="UrlRef", Caption="UrlRef",Template=(m)=> {
                return !string.IsNullOrEmpty(m.UrlRef)? string.Format("<a href=\"{0}\" target=\"_blank\" rel=\"nofollow\">{0}</a>", m.UrlRef):null;
            }},
            new SxExtantions.SxGridViewColumn<VMRequest>{FieldName="RawUrl", Caption="Целевой адрес"}
        },
            PagerInfo = pagerInfo,
            Filter = filter,
            SortDirections = sortDirections,
            EnableEditing = false,
            EnableCreate = false
        },
            new { @class = "table table-condensed table-bordered table-responsive table-striped" }
    )