@model VMRequest[]
@{
    Layout = null;
    var pagerInfo = ViewBag.PagerInfo;
    var filter = ViewBag.Filter != null ? (VMRequest)ViewBag.Filter : null;
    var sortDirections = ViewBag.Order != null ? (Dictionary<string, SxExtantions.SortDirection>)ViewBag.Order : null;
    var siteDomain = string.Intern(MvcApplication.SiteDomain);
}


@Html.SxGridView(
        new SxExtantions.SxGridViewSettings<VMRequest>
        {
            UpdateTargetId = "grid-request",
            Data = Model,
            Columns = new SxExtantions.SxGridViewColumn<VMRequest>[]{
            new SxExtantions.SxGridViewColumn<VMRequest>{FieldName="DateCreate", Caption="Дата посещения"},
            new SxExtantions.SxGridViewColumn<VMRequest>{FieldName="SessionId", Caption="Идентификатор сессии"},
            new SxExtantions.SxGridViewColumn<VMRequest>{FieldName="Browser", Caption="Браузер"},
            new SxExtantions.SxGridViewColumn<VMRequest>{FieldName="ClientIP", Caption="IP клиента"},
            new SxExtantions.SxGridViewColumn<VMRequest>{FieldName="UserAgent", Caption="Строка агента", Template=(m)=> {
                return m.UserAgent.Contains("bot") || m.UserAgent.Contains("Yahoo! Slurp") || m.UserAgent.Contains("spider")
                    ? string.Format("<i class=\"fa fa-android text-muted\">&nbsp;</i><span class=\"text-muted\">{0}</span>",m.UserAgent)
                : m.UserAgent;
            } },
            new SxExtantions.SxGridViewColumn<VMRequest>{FieldName="RequestType", Caption="Тип запросв"},
            new SxExtantions.SxGridViewColumn<VMRequest>{FieldName="UrlRef", Caption="UrlRef",Template=(m)=> {
                return !string.IsNullOrEmpty(m.UrlRef)? string.Format("<i class=\"fa fa-link\"></i>&nbsp;<a href=\"{0}\" target=\"_blank\" rel=\"nofollow\">{1}</a>", m.UrlRef, m.UrlRef.Length>=300?m.UrlRef.Substring(0,200)+"...":m.UrlRef):null;
            }},
            new SxExtantions.SxGridViewColumn<VMRequest>{FieldName="RawUrl", Caption="Целевой адрес", Template=(x)=> {
                return string.Format("<i class=\"fa fa-link\"></i>&nbsp;<a target=\"_blank\" href=\"{0}{1}\">{0}{1}</a>", siteDomain, x.RawUrl);
            } }
        },
            PagerInfo = pagerInfo,
            Filter = filter,
            SortDirections = sortDirections,
            EnableEditing = false,
            EnableCreate = false
        },
            new { @class = "table table-condensed table-bordered table-responsive table-striped" }
    )