@model SxVMValute[]
@{
    ViewBag.Title = "Текущие курсы валют ЦБ РФ";
}

<h2>@ViewBag.Title</h2>
<p class="text-info">Данные предоставлены с <a href="http://www.cbr.ru/scripts/Root.asp?PrtId=SXML">http://www.cbr.ru/scripts/Root.asp?PrtId=SXML</a> .Частота обновления данных - 2 часа</p>
<div id="grid-valutes">
    @Html.Partial(MVC.Valutes.Views._GridView, Model)
</div>