@model VMForumPart[]
@{
    if (ViewBag.Title == null)
    {
        ViewBag.Title = "Форум";
    }
    if (ViewBag.H1 == null)
    {
        ViewBag.H1 = ViewBag.Title;
    }
    ViewBag.H1CssClass = "header";
}

@Html.Partial(MVC.Shared.Views._Breadcrumbs, (VMBreadcrumb[])ViewBag.Breadcrumbs)

<div class="forum">
    @for (int i = 0; i < Model.Length; i++)
    {
        var part = Model[i];
        <div class="part">
            <div class="p-header">
                <div class="row">
                    <div class="col-md-9">
                        <h2 class="p-title">
                            @part.Title
                        </h2>
                    </div>
                    <div class="col-md-3">
                        <span class="p-last-com">Последнее сообщение</span>
                    </div>
                </div>
            </div>
            <div class="p-content">
                @for (int y = 0; y < 4; y++)
                {
                    <div class="theme">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="t-title"><strong>Прочие виды инвестирования</strong></h3>
                                <div class="t-foreword">
                                    <a href="#" title="Обсуждение прочих видов инвестирования, которые не вошли в основные разделы форума">Обсуждение прочих видов инвестирования, которые не вошли в основные разделы форума</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="t-info">
                                    Сообщений: 1098<br />
                                    (10 просматривает)
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="t-last-com">
                                    <time>15.06.2015, 21:36</time>
                                    <div>в Человек обанкротивший...</div>
                                    <div>От super mama</div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>