@model SxVMVideo[]
@{
    ViewBag.Title = ViewBag.Title ?? "Поулярные видео в категории Gaming";
    ViewBag.H1 = ViewBag.H1 ?? ViewBag.Title;
    ViewBag.Description = ViewBag.Description ?? ViewBag.Title;
    ViewBag.Keywords = ViewBag.Keywords ?? ViewBag.Title;
}

@section styles{
    <link href="~/content/dist/css/yt-videos.min.css" rel="stylesheet" />
}

@Html.SxBreadcrumbs((SxVMBreadcrumb[])ViewBag.Breadcrumbs)
<div class="yt-videos-list">
    <div class="row">
        <div class="col-md-9">
            <h2>Популярное сейчас</h2>
            <br />
            @Html.Partial("_List", Model)
        </div>
        <div class="col-md-3">
            <h2>Архив</h2>
            <br />
            <div id="yt-archive">
                <br />
                <div class="text-center">
                    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        loadScriptOnce('https://www.youtube.com/iframe_api');
        $(function () {
            $('#yt-archive').on('click', 'a', function () {
                getArchiveList($(this));
                return false;
            });

            getArchive();
        });

        function getArchive() {
            $.get('@Url.Action("Archive")', function (result) {
                $('#yt-archive').html(result);
            });
        }

        function getArchiveList(a) {
            var $a = $(a);
            var url = $a.attr('data-url');

            $.ajax({
                method: 'get',
                url: url,
                beforeSend: function () {
                    $('<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>').appendTo($a);
                },
                success: function (result) {
                    $('#yt-videos-list').html(result);
                    $a.find('.fa-spinner').remove();
                }
            });
        }
    </script>
}
