@import (reference) "colors.less";
@import "sb-admin-2.less";
@import "bootstrap-ext.less";

.form-block {
    display: table;
    height: 100%;
    margin: 0 auto;
}

.form-signin {
    width: 430px;
    display: table-cell;
    vertical-align: middle;
    max-width:100%;
    padding:0 15px;
    color:white;
}

.form-signin .form-control{
    background:none;
    border-color:rgba(255,255,255,.3);
    color:white;
}

.form-signin .btn-primary, .form-signin .btn-primary:focus, .form-signin .btn-primary:active{
    background: none;
    outline:none;
}

.validation-summary-errors > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.form-signin .field-validation-error {
    display: inline-block;
    margin-bottom: 10px;
    float: right;
}