@import (reference) "colors.less";
@import "sb-admin-2.less";
@import "bootstrap-ext.less";

.form-signin {
    max-width: 430px;
    padding: 15px;
    margin: 0 auto;
}

.validation-summary-errors > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.form-signin .field-validation-error {
    display: inline-block;
    margin-bottom:10px;
}
