@import (reference) "colors.less";
@import "sb-admin-2.less";
@import "bootstrap-ext.less";
@import (reference) "../../bower_components/bootstrap/less/variables.less";

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic&subset=latin,cyrillic);

body {
    font-family: 'Roboto Condensed', sans-serif;
    color: @color-black;
    font-size:13px;
}

#footer {
    padding: 10px 0;
    border-top: 1px solid @color-border;
}

#footer .developer{
    text-align:right;
    @media (max-width: @screen-xs-max) {
        text-align:left;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    }

    @media (min-width: @screen-lg-min) {
    }
}

.datepicker td, .datepicker th {
    width: 40px !important;
}

input{
    outline:none !important;
}