@model VMAphorism[]
@{
    ViewBag.Title = "Афоризмы";
    VMMaterialCategory category = ViewBag.Category;
}

@section styles{
    <style type="text/css">
        .sx-tv a{
            text-decoration:none;
            transition:all .2s;
            display:block;
        }
        .sx-tv tr:hover a{
            font-weight:700;
            color:gray;
        }
        .sx-tv tr.active a{
            font-weight:700;
            padding-left:5px;
        }
    </style>
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-3">
        <h4 class="header">Категории</h4>
        @Html.Action("TreeViewMenu", "MaterialCategories", new { mct = ModelCoreTypeProvider[nameof(Aphorism)] })
    </div>
    <div class="col-md-9">
        <div class="content">
            <h4 class="header">@(category==null? "Категория не указана":category.Title)</h4>
            <div id="grid-aphorisms">
                @Html.Partial("_GridView", Model)
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            var grid = new SxGridView('#grid-aphorisms');
        });
    </script>
}